

.imgs{
  display: block;
  width: 100%;
  height: 70vh;
}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}








.opis{
	width: 100%;
	height: auto;
}
h3{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
p{
	font-size: 20px;
	margin: 30px;
}
footer{
	background-color: black;
	color: white;
}

article{
	text-align: center;
	padding: 10px;
}

